*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: 'Montserrat';
    background-color: #F8f8f8;
}

/****** BASE.HTML ******/


/* NAV Header */
.header{
    display:flex;
    margin-bottom:15px;
    background-color:#222B37;
    width:100%;
    height:75px;
    padding-right:20px;
}

nav > a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size:20px;
    color:#95A2B3;
    text-decoration: none;
    border-radius: 5px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 20%);
}

.header_title{
    margin-right:auto !important;
    font-weight:bold;
    font-size:25px;
    border: none;
}
.header_title:hover {
    border-radius: 5px;
    color:white;
    -webkit-transform: translateY(-1px);
	transform: translateY(-1px);
}
.header_sales:hover {
    border-radius: 5px;
    color:white;
    -webkit-transform: translateY(-1px);
	transform: translateY(-1px);
}
.header_cases:hover {
    border-radius: 5px;
    color:white;
    -webkit-transform: translateY(-1px);
	transform: translateY(-1px);
}

#logout_menu{
    display:flex;
    flex-direction:column;
    font-size:11px;
    color:#95A2B3;
}
#logout_menu:hover {
    border-radius: 5px;
    color:white;
    -webkit-transform: translateY(-2px);
	transform: translateY(-2px);
}
#username_button{
    text-transform:uppercase;
    font-weight:bold;
    font-size:15px;
}

.active_link{
    color:white;
}
/****** HOME PAGE ******/


#home_page_header{
    margin-top: 4%;
    margin-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
}

#home_page_header_main{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

#home_page_subheader{
    text-align: center;
    font-size: 35px;
}

#subheader_sub{
    font-style: italic;
    font-size: 25px;
}

/*Google Login*/
#login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin-bottom:3%;
}

.google_login_button{
    border: 1px blue solid;
    padding: 20px;
    text-align: center;
    box-shadow: 4px 10px 10px #88888C;
}

#login a{
    text-decoration: none;
}

.welcome_name{
    margin-bottom:10px;
    font-weight:bold;
}

#home_page_buttons{
    display:flex;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
}

.button p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#home_page_buttons a{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

#home_page_buttons div:hover{
    position:relative;
    top:5px;
}

img {  
    max-width: 100%;
    height: auto;
}  

.superuser_buttons{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin-top:2%;
}

.superuser_buttons > a {
    background-color: #222b37;
    text-align: center;
    color: white;
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding:20px;
}

.superuser_buttons > a:hover{
    border-radius: 5px;
    background-color: blue;
    border: 1px solid orange;
}

/****** REFRESH_DATE_PICKER.HTML ******/


/* Auto Refresh / Group / Date Selector / ToolTip */

.auto_refresh_box{
    margin-bottom:1px;
}

#refresh_date_group{
    margin-left: 20px;
}

#group_name{
    font-weight:bold;
    font-size:50px;
    margin-top:35px;
}

.round_day_switcher {
    background-color: lightgray;
    color: black;
    padding: 2px 8px;
    border-radius: 60%;
    margin-top:2px;
    font-weight:bold;
    text-decoration: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#group_date_selector {
    display:flex;
}

#case_nav_buttons{
    display: flex;
    align-items: center;
    margin-left: auto !important;
    margin-right: 20px;
}

/****** SALES ******/


/* Score Key */

#selected_sales_date{
    font-weight:bold;
    margin-top:5px;
    margin-left:10px;
}

/* Makes Score Tables into one column with the label on the left and points on the right */
table.score_key_table thead.score_key_thead {
    display: none;
}

table.score_key_table td.score_key_points {
    display: flex;
}

table.score_key_table td.score_key_points::before {
    content: attr(label);
    font-weight: bold;
    width: 100px;
}

td.score_key_points {
    padding:1px;
    font-size:10px;
}
.score_key p{
    font-weight:bold;
}

/* Point Boxes */
.points{
    display:flex;
    flex-direction:row;
    margin-bottom:5px;
    margin-top:10px;
}

#sales_points{
    margin-left:30px;
}

.score_box{
    flex:1;
    border-radius:10px;
    padding: 10px;
    margin-right: 30px;
    justify-content:center;
    text-align:center;
    background-color: white;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
}
.score_name{
    padding-bottom:5px;
    font-weight:bold;
    font-size:25px;
}
.score_num{
    font-size:75px;
    font-weight:bold;
}

/* Point Tables */
.score_tables{
    display:flex;
    flex-direction:column;
}

.score_tables table{
    background-color: white;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
    border-radius:10px;
    border-collapse: collapse;
    margin-right:auto;
    margin-left:auto;
}

.score_table_title{
    text-align:center;
    padding-top:25px;
    padding-bottom:10px;
    font-size:1.2em;
    font-weight:bold;
}
table{
    border-collapse: collapse;
    margin-right:auto;
    margin-left:auto;
}
td, th{
    padding:10px;
}


/****** CASES ******/


/* Case Body */
#body_sizing{
    margin-left:20px;
    margin-right:20px;
}

/* Case Header */
#case_header{
    display:flex;
    flex-direction:row;
    margin-top:10px;
}

#case_header_all_groups{
    display:flex;
    flex-direction:row;
    margin-top:10px;
}

#user_assigned_total_open_chart{
    padding:10px;
}

#user_assigned_total_open_chart_div{
    width:500px;
    background-color: white;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
    border-radius:10px;
}
#all_groups_open_div{
    width:500px;
    margin-left:40px;
    background-color: white;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
    border-radius:10px;
}

#all_groups_open_chart{
    padding:10px;
}

#group_name_div{
    margin-right:auto !important;
}

#all_open_cases_box{
    border-radius:10px;
    padding: 30px;
    margin-left: 30px;
    margin-bottom:5px;
    justify-content:center;
    text-align:center;
    background-color: white;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
    }

#score_and_all_groups_open_cases{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:10px;
    margin-bottom:10px;
}

#all_groups_open_cases_div{
    margin-left:20px;
}

#all_groups_open_cases_table td, th{
    padding:1px;
    padding-right:10px;
    border:none;
    font-style:italic;
    font-size:14px;
    font-weight:bold;
}

/* Points Header */
.points_header{
    margin-top:10px;
    margin-bottom:10px;
}

.points_header p{
    display:inline-block;
}

.bold{
    font-weight:bold;
    font-size: 18px;
}

/* User Tables */
.user_points_table{
    background-color: white;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
    border-radius:10px;
    height:100%;
}

.user_points_table th{
    font-weight:bold;
    font-size:15px;
    padding-top:8px;
    padding-bottom:8px;
}

.user_points_table td{
    font-weight:normal;
    font-size:15px;
}

.user_points_table td, th{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

/* Case Tables
https://datatables.net/
Scrollable Tables have been replaced with Data Tables
which provide far more functionality including
sorting, filtering & choosing how many rows to load

.scrollable_table tbody{
    display:block;
    overflow:auto;
    height:300px;
    width:100%;
  }
  .scrollable_table thead tr{
    display:block;
  }

*/

#resolved_row{
    background-color: #ffe6e6;
}

#created_row{
    background-color: #e6ffe6;
}

/****** Submit Button / Hide Show Tables ******/


/* Submit Button */
button {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background-color:#222b37;
    border-radius:10px;
    border:1px solid #0000ff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:12px;
    padding:3px 8px;
    text-shadow:0px 1px 0px #283966; 
    margin-top:5px;
    font-family: 'Montserrat';
}

button:hover {
    background-color:#0000ff;
    border:1px solid #222b37;
}
button:active {
    position:relative;
    top:1px;
}

/* Show Table Buttons and hide/show ability for each table*/
label.show_label {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background-color:#222b37;
    border-radius:10px;
    border:1px solid #0000ff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:12px;
    padding:3px 8px;
    text-shadow:0px 1px 0px #283966;
    margin-bottom:5px;
}
label.show_label:hover {
    background-color:#0000ff;
    border:1px solid #222b37;
}
label.show_label:active {
    position:relative;
    top:1px;
}
  

#case_table_all,#show_label_all {
    display:none;
}
#show_label_all:checked ~ #case_table_all{
    display:block;
}

#case_table_day,#show_label_day {
    display:none;
}
#show_label_day:checked ~ #case_table_day{
    display:block;
}

#case_table_week,#show_label_week {
    display:none;
}
#show_label_week:checked ~ #case_table_week{
    display:block;
}

#case_table_month,#show_label_month {
    display:none;
}
#show_label_month:checked ~ #case_table_month{
    display:block;
}

/* Sales Dashboard */

#help_box,#help_button {
    display:none;
}

#help_button:checked ~ #help_box{
    display:flex;
}

#help_btn_container{
    margin-left:20px;
    margin-top:10px;
}

#help_box{
    width:375px;
    padding:5px;
    background-color: white;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
    border-radius:10px;
}

#help_box_explanation{
    font-size:12px;
    float:left;
    padding-right:10px;
    font-style:italic;
}

#help_title{
    font-weight:bold;
    font-size:14px;
    margin-bottom:5px;
    font-style: normal;
}

#help_title:after{
    content:"\a";
    white-space: pre;
}

#today_opp_table,#show_today_opps {
    display:none;
}
#show_today_opps:checked ~ #today_opp_table{
    display:block;
}

#today_call_table,#show_today_calls {
    display:none;
}
#show_today_calls:checked ~ #today_call_table{
    display:block;
}


#charts{
    display:flex;
    justify-content: space-between;
    margin-top:50px;
}
#charts div{
    width:49%;
    height:400px;
    background-color: white;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
    border-radius:10px;
    padding:10px;
    
}
#barchart{
    width:100%;
    height:600px;
    background-color: white;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
    border-radius:10px;
    margin-top:30px;
    margin-bottom:20px;
    padding:10px;
}

/****** Dev/Redmine Friendly ******/
#dev_header_all_groups{
    display:flex;
    justify-content: space-between;
}
#open_assigned_dev_charts{
    display:flex;
}
.redmine_chart{
    width:425px;
}
#all_groups_open_issues_div{
    column-count:2;
    -moz-column-count:2;
    -webkit-column-count:2;
     height:200px;
     margin-left:20px;
}
#all_groups_open_issues_table td, th{
    padding:1px;
    padding-right:10px;
    padding-bottom:3px;
    border:none;
    font-style:italic;
    font-size:13px;
    font-weight:bold;
}
#redmine_logo{
    margin-left:40%;
    width:400px;
    height:80px;
    margin-bottom:15px;
}
/****** Mobile Friendly ******/

@media only screen and (max-width: 768px) {
    /* NAV Header */
    .header{
        display:flex;
        margin-bottom:15px;
        background-color:#222B37;
        width:100%;
        height:50px;
        padding-right:20px;
    }

    nav > a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color:#95A2B3;        
        text-decoration: none;
        border-radius: 5px;
        margin-top:5px;
        margin-bottom:5px;
        margin-left: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size:10px;
    }

    nav > a:active{
        color:white;
    }

    .header_title{
        margin-right:auto !important;
        font-weight:bold;
        border: none;
        font-size:10px;
    }

    .header_sales:hover {
        border-radius: 5px;
        color:white;        
    }
    .header_cases:hover {
        border-radius: 5px;
        color:white;        
    }

    #logout_menu{
        display:flex;
        flex-direction:column;
        font-size:8px;
    }

    #username_button{
        text-transform:uppercase;
        font-size:12px;
        font-weight:bold;
    }

    /* Auto Refresh / Group / Date Selector */
    #refresh_date_group{
        margin-left: 30px;
        margin-right:30px;
    }
    input[type=number]{
        width: 50px;
        margin-bottom:5px;
    } 

    #group_dropdown{
        margin-top:10px;
    }

    #next_day_switcher:after{
        content:"\a";
        white-space: pre;
    }

    #sales_submit{
        margin-top:10px;
        margin-bottom:10px;
    }

   #cases_submit{
        display:block;
    }

    #group_name{
        font-weight:bold;
        font-size:35px;
        margin-top:5px;
    }
    #group_name_div{
        margin-right:0px !important;
    }

    .round_day_switcher {
        background-color: lightgray;
        color: black;
        padding: 4px 10px;
        border-radius: 60%;
        margin-top:2px;
        font-weight:bold;
        text-decoration: none;
    }

    /*  Home Page */
    #home_page_header{
        margin-top: 6%;
        margin-bottom: 6%;
        margin-left: 7%;
        margin-right: 7%;
    }

    #home_page_header_main{
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }

    #home_page_subheader{
        text-align: center;
        font-size: 15px;
    }

    #subheader_sub{
        font-style: italic;
        font-size: 9px;
    }

    /*Google Login*/
    #login{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        margin-bottom:6%;
    }

    .google_login_button{
        border: 1px blue solid;
        padding: 10px;
        text-align: center;
        box-shadow: 4px 10px 10px #88888C;
    }

    #login a{
        text-decoration: none;
        font-size:10px;
    }

    .welcome_name{
        margin-bottom:10px;
        font-weight:bold;
        font-size:10px;
    }

    #home_page_buttons{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10%;
        margin-right: 10%;
    }

    .button p{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }

    .button{
        margin-bottom:10%;
    }
    #home_page_buttons a{
        display: inline-block;
        margin-left: 50px;
        margin-right: 50px;
    }

    #home_page_buttons div:hover{
        position:relative;
        top:5px;
    }

    img {  
        max-width: 100%;
        height: auto;
    }  

    #superuser_buttons_meta_container{
        display:flex;
        margin-top:5%;
    }

    .superuser_buttons{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
    }
    
    .superuser_buttons > a {
        background-color: #222b37;
        text-align: center;
        color: white;
        text-decoration: none;
        border: 2px solid blue;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 20px;
        padding:8px;
    }
    
    .superuser_buttons > a:hover{
        border-radius: 5px;
        background-color: blue;
        border: 1px solid orange;
    }

    /****** SALES ******/
    #selected_sales_date{
        display:flex;
        justify-content:center;
        align-items:center;
        font-weight:bold;
        margin-top:0px;
    }
    /* Score Key */
    #help_box,#help_button {
        display:none;
    }
    
    #help_button:checked ~ #help_box{
        display:flex;
        flex-direction:column;
    }

    #help_btn_container{
        width:85%;
        margin-left:30px;
        margin-right:30px;
    }

    #help_label{
        display:block;
        width:70px;
        margin-left:0px;
        margin-right:0px;
        text-align:center;
    }

    #help_box{
        background-color: white;
        box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);     
        width: 100%;
        padding: 5px;
        text-align:center;
    }

    .score_key{
        margin-top:10px;
    }

    /* Point Boxes */
    .points{
        display:flex;
        flex-direction:column;
        margin-bottom:5px;
        margin-top:10px;
    }
    .score_box{
        flex:1;
        background-color: white;
        box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);        
        border-radius:10px;
        padding: 2px;
        margin-bottom:15px;
        justify-content:center;
        text-align:center;
    }
    .score_name{
        padding-bottom:5px;
        font-size:20px;
    }
    .score_num{
        font-size:75px;
        font-weight:bold;
    }

/* Makes Score Tables into one column with the label on the left and points on the right */

    .score_tables{
        display:flex;
        flex-direction:column;
        margin-bottom:20px;
    }
 
    .score_table_title{
        font-size:25px;
    }

     table.sales_score_table thead.sales_score_thead {
        display: none;
      }
      table.sales_score_table td.sales_score_td {
        display: flex;
        font-size:18px;
      }

      table.sales_score_table td.sales_score_td::before {
        content: attr(label);
        font-size:18px;
        width: 250px;
      }

    #opp_call_tables{
        margin-left:10px;
    }

    /****** CASES ******/


    /* Case Body */
    #body_sizing{
        margin-left:20px;
        margin-right:20px;
    }

    /* Case Header */
    #case_header{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        margin-top:10px;
    }
    #case_header_all_groups{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        margin-top:10px;
    }
    #user_assigned_total_open_chart{
        padding:0px;
    }
    #user_assigned_total_open_chart_div{
        width:300px;
        margin-bottom:20px;
    }
    #all_groups_open_div{
        width:300px;
        margin-left:0px;
        margin-bottom:20px;
    }
    #all_groups_open_chart{
        padding:0px;
    }
    #all_open_cases_box{
        margin-right:auto;
        margin-left:auto;
        margin-bottom:10px;
        margin-top:5px;
        width:300px;
    }

    label.show_label {
        display:flex;
        align-items:center;
        justify-content:center;
        margin-left:100px;
        margin-right:100px;
    }

    /* Points Header */
    .points_header{
        margin-top:15px;
        margin-bottom:15px;
    }
    .points_header p{
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:13px;
        font-weight:bold;
    }
    .bold{
        font-size: 22px;
        display:block;
        align-self:center;
    }

    /* Case/Opp/Call Tables */
    .scrollable_table{
        font-size:10px;
    }
    .scrollable_table td{
        padding:1px;
    }
    .scrollable_table th{
        padding:0px;
    }

    .user_points_table{
        margin-top:10px;
        margin-bottom:10px;
        width:300px;
    }
    #charts{
        display:flex;
        flex-direction: column;
    }
    #charts div{
        width:100%;
        height:400px;
        margin-bottom:20px;
    }
    #barchart{
        width:100%;
        height:400px;
        margin-top:0px;
    }

}