@import '../abstracts/variables';

.form-select {
  background-color: darken($nav-color, 5%) !important;
  color: $white !important;
  width: 50% !important;
  text-align: center !important;
}
