{% load static %}

<HTML>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style.css' %}">
    </head>
    <body>

		<section class ="header">
            <div class ="header-title">
                <p>VTiger Sales Dashboard</p>
            </div>
            <div class = "header_buttons">
                <button class = "header_sales" onclick="location.href = '/'">Sales</button>
                </button>
                <button class = "header_cases" onclick="location.href = '/cases'">Cases</button>
                </button>
            </div>
        </section>
            <div class = "auto_refresh_box">
                <label id="number_input" for="minutes">Minutes:</label>
                <input type="number" value='5' id="minutes_input" name="minutes" min="1" max="20" onchange="update_refresh_time()">
                </br>
                <input type="checkbox" id="checkbox_autoupdate" onclick="checkbox_click()" unchecked/>
                <label id="auto_update_label" for="checkbox_autoupdate">Auto Refresh</label>
                </br>
            </div>

            {% block content %}
            {% endblock %}

        <script type="text/javascript" src="{% static 'dashboard/scripts.js' %}"></script>
    </body>
</HTML>