{% extends 'dashboard/base.html' %}

{% block content %}
            
<form method="GET" action=".">
    <label for="group_dropdown">Group:</label>
    <select name="group_dropdown" id = "group_dropdown">
        <option selected>--Select Group--</option>
        {% for group  in case_groups %}
        <option value="{{ group.assigned_groupname }}">{{ group.assigned_groupname }}</option>
        {% endfor %} 
    </select>
    </br>
    <label for="date_start">Modified Time Start:</label>
    <input type="date" name="date_start" id="date_start" min="2020-01-01" max="2030-01-01">
    </br>
    <button type="submit">Submit</button>
</form>

<br>
<p>Group: {{ date_group_dict.group }} </p>
<p>All Open Cases: {{ all_open_cases.open_cases }}</p>
<hr>
<br>

<p>TODAY</p>
<p>{{ date_group_dict.today }}</p>
<br>
<p>Modified Cases: {{ case_stats_dict.modified }} </p>
<p>Created Cases: {{ case_stats_dict.opened }} </p>
<p>Resolved Cases: {{ case_stats_dict.closed }} </p>
<p>Kill Rate: {{ case_stats_dict.kill_rate }}% </p>
<br>

{% if sorted_user_closed|length > 0 %}
    <p>Closed Cases by User</p>
    {% for score  in sorted_user_closed %}
        <p> {{ score.0 }} - {{ score.1 }} </p>
    {% endfor %}
{% endif %}

<button onclick="showHideCaseTable('day')">Show/Hide Case Table</button>
<div id = "case_table_day">
    <table class = "scrollable_table">
        <tbody>
            <tr>
                <th>Number</th>
                <th>Group</th>
                <th>Assigned To</th>
                <th>Title</th>
                <th>Status</th>
                <th>Created (UTC)</th>
                <th>Modified (UTC)</th>
                <th>Resolved (UTC)</th>
                <th>Time Spent</th>
            </tr>
            {% for case in full_cases_day %}
                <tr>
                    <td>{{ case.case_no }}</td>
                    <td>{{ case.assigned_groupname }}</td>
                    <td>{{ case.assigned_username }}</td>
                    <td>{{ case.title }}</td>
                    <td>{{ case.casestatus }}</td>
                    <td>{{ case.createdtime }}</td>
                    <td>{{ case.modifiedtime }}</td>
                    <td>{{ case.case_resolved }}</td>
                    <td>{{ case.time_spent_hr }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>
<hr>
<br>

<p>WEEK</p>
<p>{{ date_group_dict.first_of_week }} - {{ date_group_dict.end_of_week }}</p>
<br>
<p>Modified Cases: {{ case_stats_dict_week.modified }} </p>
<p>Created Cases: {{ case_stats_dict_week.opened }} </p>
<p>Resolved Cases: {{ case_stats_dict_week.closed }} </p>
<p>Kill Rate: {{ case_stats_dict_week.kill_rate }}% </p>
<br>

{% if sorted_user_closed_week|length > 0 %}
    <p>Closed Cases by User</p>
    {% for score in sorted_user_closed_week %}
        <p> {{ score.0 }} - {{ score.1 }} </p>
    {% endfor %}
{% endif %}

<button onclick="showHideCaseTable('week')">Show/Hide Case Table</button>
<div id = "case_table_week">
    <table class = "scrollable_table">
        <tbody>
            <tr>
                <th>Number</th>
                <th>Group</th>
                <th>Assigned To</th>
                <th>Title</th>
                <th>Status</th>
                <th>Created (UTC)</th>
                <th>Modified (UTC)</th>
                <th>Resolved (UTC)</th>
                <th>Time Spent</th>
            </tr>
            {% for case in full_cases_week %}
                <tr>
                    <td>{{ case.case_no }}</td>
                    <td>{{ case.assigned_groupname }}</td>
                    <td>{{ case.assigned_username }}</td>
                    <td>{{ case.title }}</td>
                    <td>{{ case.casestatus }}</td>
                    <td>{{ case.createdtime }}</td>
                    <td>{{ case.modifiedtime }}</td>
                    <td>{{ case.case_resolved }}</td>
                    <td>{{ case.time_spent_hr }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>
<hr>
<br>

<p>MONTH</p>
<p>{{ date_group_dict.first_of_month }} - {{ date_group_dict.end_of_month }}</p>
<br>
<p>Modified Cases: {{ case_stats_dict_month.modified }} </p>
<p>Created Cases: {{ case_stats_dict_month.opened }} </p>
<p>Resolved Cases: {{ case_stats_dict_month.closed }} </p>
<p>Kill Rate: {{ case_stats_dict_month.kill_rate }}% </p>
<br>

{% if sorted_user_closed_month|length > 0 %}
    <p>Closed Cases by User</p>
    {% for score  in sorted_user_closed_month %}
        <p> {{ score.0 }} - {{ score.1 }} </p>
    {% endfor %}
{% endif %}

<button onclick="showHideCaseTable('month')">Show/Hide Case Table</button>
<div id = "case_table_month">
    <table class = "scrollable_table">
        <tbody>
            <tr>
                <th>Number</th>
                <th>Group</th>
                <th>Assigned To</th>
                <th>Title</th>
                <th>Status</th>
                <th>Created (UTC)</th>
                <th>Modified (UTC)</th>
                <th>Resolved (UTC)</th>
                <th>Time Spent</th>
            </tr>
            {% for case in full_cases_month %}
                <tr>
                    <td>{{ case.case_no }}</td>
                    <td>{{ case.assigned_groupname }}</td>
                    <td>{{ case.assigned_username }}</td>
                    <td>{{ case.title }}</td>
                    <td>{{ case.casestatus }}</td>
                    <td>{{ case.createdtime }}</td>
                    <td>{{ case.modifiedtime }}</td>
                    <td>{{ case.case_resolved }}</td>
                    <td>{{ case.time_spent_hr }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}