{% load static %}

<HTML>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style.css' %}">
    </head>
    <body>

		<section class ="header">
            <div>
                <p>VTiger Sales Dashboard</p>
            </div>
            <div>
                <form action = "populate/" method="post"><input type="hidden" name="csrfmiddlewaretoken" value="oqpa9nS2iUmOjPWDKA0qqZETw4vyJ09qPUHlGdBWPqagEIKdJOAB8NgYHHfnUwkC">
                    <input type="submit" value="Populate"/>
                </form>
            </div>
        </section>

        <section class="points">
            {% for user_score in score_total %}
                {% for key, value in user_score.items %}
                    <div class = "score_box">
                        <span class ="score_name">{{ key }}</span> </br> <span class="score_num">{{ value }}</span>
                    </div>
                {% endfor %}
            {% endfor %}
        </section>

        <section class="score_tables">
            {% for stat in stat_total %}
                {% for key, value in stat.items %}
                    <p class="score_table_title">{{ key }}</p>
                    <table>
                        <th>Demo Scheduled</th>
                        <th>Demo Given</th>
                        <th>Quote Sent</th>
                        <th>Pilot</th>
                        <th>Needs Analysis</th>
                        <th>Closed Won</th>
                        <th>Closed Lost</th>
                        <th>Phone Calls</th>
                        <tr>
                            {% for num in value %}
                                <td>
                                    {{ num }}
                                </td>
                            {% endfor %}
                        </tr>
                    <table>
                {% endfor %}
            {% endfor %}
        </section>

    </body>
</HTML>