{% load static %}

<HTML>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" type="text/css" href="{% static 'sales/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
		<nav class ="header">
            <a class = "header_title" href="/">VTIGER DASHBOARD</a>
            <a class = "header_sales" href="/sales">SALES</a>
            <a class = "header_cases" href="/cases">CASES</a>
        </nav>

        {% block refresh_date %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <script type="text/javascript" src="{% static 'sales/scripts.js' %}"></script>
    </body>
</HTML>