{% load static %}
{% load socialaccount %}

<HTML>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'sales/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shippingcalc/css/main.css' %}">
        <link rel="icon"href="{% static 'favicon.ico' %}">
        <!--
        https://datatables.net/
        Scrollable Tables have been replaced with Data Tables
        which provide far more functionality including
        sorting, filtering & choosing how many rows to load.
        The following three links are necessary for Data Tables to work.
        -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>  
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/htmx.org@0.6.0/dist/htmx.js"></script>


        
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    </head>
    <body>

		<nav class ="header">
            <a id = "home" class = "header_title" href="/">KPI DASHBOARD</a>
            {% if user.is_authenticated %}
                <a id = "dbu-dev" class = "page_header_select" href="https://dbu-dev.eyeride.io/" target="_blank">DBU</a>
                <a id = "ship" class = "page_header_select" href="/ship">SHIP</a>
                <a id = "sales" class = "page_header_select" href="/sales">SALES</a>
                <a id = "cases" class = "page_header_select" href="/cases">CASES</a>
                <a id = "dev" class = "page_header_select" href="/dev">DEV</a>
                <a id = "docs" class = "page_header_select" href="/docs">DOCS</a>
                <a id="logout_menu" href="/accounts/logout"><span id="username_button">{{ user.first_name }}</span>logout</a>
            {% else %}
                <a href="{% provider_login_url 'google' %}">LOGIN</a>
            {% endif %}
        </nav>

        {% block refresh_date %}
        {% endblock %}

        {% block content %}
        {% endblock %}
        <script type="text/javascript" src="{% static 'sales/scripts.js' %}"></script>
    </body>
</HTML>