{% load static %}

<HTML>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" type="text/css" href="{% static 'sales/style.css' %}">
    </head>
    <body>
		<nav class ="header">
            <a class = "header_title" href="/">VTIGER DASHBOARD</a>
            <a class = "header_sales" href="/sales">SALES</a>
            <a class = "header_cases" href="/cases">CASES</a>
        </nav>
        <div id = "refresh_date_group">
            <div class = "auto_refresh_box">
                <label id="number_input" for="minutes">Minutes:</label>
                <input type="number" value='5' id="minutes_input" name="minutes" min="1" max="20" onchange="update_refresh_time()">
                <input type="checkbox" id="checkbox_autoupdate" onclick="checkbox_click()" unchecked/>
                <label id="auto_update_label" for="checkbox_autoupdate">Auto Refresh</label>
            </div>
            <div id ="group_date_selector">
                <form method="GET" action=".">
                    <label for="date_start">Date:</label>
                    <input type="date" name="date_start" id="date_start" min={{date_dict.first_db}} max={{date_dict.last_db}}>
                    {% block form %}
                    {% endblock %}

            </div>
        </div>

        {% block content %}
        {% endblock %}

        <script type="text/javascript" src="{% static 'sales/scripts.js' %}"></script>
    </body>
</HTML>