{% extends 'sales/refresh_date_picker.html' %}

{% block form %}
    <label for="group_dropdown" id="group_dropdown_label">Group:</label>
    <select name="group_dropdown" id = "group_dropdown">
        <option selected>All Groups</option>
        {% for group  in case_groups %}
            <option value="{{ group.assigned_groupname }}">{{ group.assigned_groupname }}</option>
        {% endfor %} 
    </select>
    <button type="submit" id="cases_submit" onclick="save_group_date()">SUBMIT</button>
    </form>
{% endblock %}

{% block content %}

<div id = "body_sizing">
    <div id="case_header">
        <div>
            <p id="group_name">{{ date_group_dict.group }}</p>
        </div>

        <div class = "score_box" id="all_open_cases">
            <span class ="score_name">All Open Cases</span> </br> <span class="score_num">{{ all_open_cases.open_cases }}</span>
        </div>
    </div>


    <input type=checkbox id="show_label_all">
    <label for="show_label_all" class="show_label">SHOW CASES</label>

    <div id = "case_table_all">
        <table class = "scrollable_table">
            <tbody>
                <tr>
                    <th>#</th>
                    <th>Number</th>
                    <th>Group</th>
                    <th>Assigned To</th>
                    <th>Modified By</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Created (UTC)</th>
                    <th>Modified (UTC)</th>
                    <th>Resolved (UTC)</th>
                    <th>Time Spent</th>
                </tr>
                {% for case in all_open_cases.full_cases %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href='{{urls.cases_url}}{{ case.case_url_id }}'>{{ case.case_no }}</a></td>
                        <td>{{ case.assigned_groupname }}</td>
                        <td>{{ case.assigned_username }}</td>
                        <td>{{ case.modified_username }}</td>
                        <td>{{ case.title }}</td>
                        <td>{{ case.casestatus }}</td>
                        <td>{{ case.createdtime }}</td>
                        <td>{{ case.modifiedtime }}</td>
                        <td>{{ case.case_resolved }}</td>
                        <td>{{ case.time_spent_hr }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div class="points_header">
        <p><span class="bold">TODAY:</span></p>
        <p> {{ date_group_dict.today }}</p>
    </div>
    <section class="points">
                <div class = "score_box">
                    <span class ="score_name">MODIFIED</span> </br> <span class="score_num">{{ case_stats_dict.modified }}</span>
                </div>
                <div class = "score_box">
                    <span class ="score_name">CREATED</span> </br> <span class="score_num">{{ case_stats_dict.opened }}</span>
                </div>
                <div class = "score_box">
                    <span class ="score_name">RESOLVED</span> </br> <span class="score_num">{{ case_stats_dict.closed }}</span>
                </div>
                <div class = "score_box">
                    <span class ="score_name">KILL RATE</span> </br> <span class="score_num">{{ case_stats_dict.kill_rate }}%</span>
                </div>
                <div>
                    {% if sorted_user_closed|length > 0 %}
                        <table class = "user_points_table">
                            <tbody>
                                <tr>
                                    <th>USER</th>
                                    <th>CLOSED</th>
                                </tr>
                                {% for score  in sorted_user_closed %}
                                    <tr>
                                        <td>{{ score.0 }}</td>
                                        <td>{{ score.1 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
    </section>

    <input type=checkbox id="show_label_day">
    <label for="show_label_day" class="show_label">SHOW CASES</label>
    <div id = "case_table_day">
        <table class = "scrollable_table">
            <tbody>
                <tr>
                    <th>#</th>
                    <th>Number</th>
                    <th>Group</th>
                    <th>Assigned To</th>
                    <th>Modified By</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Created (UTC)</th>
                    <th>Modified (UTC)</th>
                    <th>Resolved (UTC)</th>
                    <th>Time Spent</th>
                </tr>
                {% for case in full_cases_day %}
                    {% if case.case_no in resolved_cases_day %}
                        <tr id = "resolved_row">
                    {% elif case.case_no in created_cases_day %}
                        <tr id = "created_row">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td>{{ forloop.counter }}</td>
                        <td><a href='{{urls.cases_url}}{{ case.case_url_id }}'>{{ case.case_no }}</a></td>
                        <td>{{ case.assigned_groupname }}</td>
                        <td>{{ case.assigned_username }}</td>
                        <td>{{ case.modified_username }}</td>
                        <td>{{ case.title }}</td>
                        <td>{{ case.casestatus }}</td>
                        <td>{{ case.createdtime }}</td>
                        <td>{{ case.modifiedtime }}</td>
                        <td>{{ case.case_resolved }}</td>
                        <td>{{ case.time_spent_hr }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>

    {% if case_stats_dict_week %}
        <div class="points_header">
            <p><span class="bold">WEEK:</span></p>
            <p> {{ date_group_dict.first_of_week }} - {{ date_group_dict.end_of_week }}</p>
        </div>
        <section class="points">
                    <div class = "score_box">
                        <span class ="score_name">MODIFIED</span> </br> <span class="score_num">{{ case_stats_dict_week.modified }}</span>
                    </div>
                    <div class = "score_box">
                        <span class ="score_name">CREATED</span> </br> <span class="score_num">{{ case_stats_dict_week.opened }}</span>
                    </div>
                    <div class = "score_box">
                        <span class ="score_name">RESOLVED</span> </br> <span class="score_num">{{ case_stats_dict_week.closed }}</span>
                    </div>
                    <div class = "score_box">
                        <span class ="score_name">KILL RATE</span> </br> <span class="score_num">{{ case_stats_dict_week.kill_rate }}%</span>
                    </div>
                    <div>
                        {% if sorted_user_closed_week|length > 0 %}
                            <table class = "user_points_table">
                                <tbody>
                                    <tr>
                                        <th>USER</th>
                                        <th>CLOSED</th>
                                    </tr>
                                    {% for score  in sorted_user_closed_week %}
                                        <tr>
                                            <td>{{ score.0 }}</td>
                                            <td>{{ score.1 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
        </section>

        <input type=checkbox id="show_label_week">
        <label for="show_label_week" class="show_label">SHOW CASES</label>

        <div id = "case_table_week">
            <table class = "scrollable_table">
                <tbody>
                    <tr>
                        <th>#</th>
                        <th>Number</th>
                        <th>Group</th>
                        <th>Assigned To</th>
                        <th>Modified By</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Created (UTC)</th>
                        <th>Modified (UTC)</th>
                        <th>Resolved (UTC)</th>
                        <th>Time Spent</th>
                    </tr>
                    {% for case in full_cases_week %}
                        {% if case.case_no in resolved_cases_week %}
                            <tr id = "resolved_row">
                        {% elif case.case_no in created_cases_week %}
                            <tr id = "created_row">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td>{{ forloop.counter }}</td>
                            <td><a href='{{urls.cases_url}}{{ case.case_url_id }}'>{{ case.case_no }}</a></td>
                            <td>{{ case.assigned_groupname }}</td>
                            <td>{{ case.assigned_username }}</td>
                            <td>{{ case.modified_username }}</td>
                            <td>{{ case.title }}</td>
                            <td>{{ case.casestatus }}</td>
                            <td>{{ case.createdtime }}</td>
                            <td>{{ case.modifiedtime }}</td>
                            <td>{{ case.case_resolved }}</td>
                            <td>{{ case.time_spent_hr }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
    {% endif %}

    <div class="points_header">
        <p><span class="bold">MONTH:</span></p>
        <p> {{ date_group_dict.first_of_month }} - {{ date_group_dict.end_of_month }}</p>
    </div>
    <section class="points">
                <div class = "score_box">
                    <span class ="score_name">MODIFIED</span> </br> <span class="score_num">{{ case_stats_dict_month.modified }}</span>
                </div>
                <div class = "score_box">
                    <span class ="score_name">CREATED</span> </br> <span class="score_num">{{ case_stats_dict_month.opened }}</span>
                </div>
                <div class = "score_box">
                    <span class ="score_name">RESOLVED</span> </br> <span class="score_num">{{ case_stats_dict_month.closed }}</span>
                </div>
                <div class = "score_box">
                    <span class ="score_name">KILL RATE</span> </br> <span class="score_num">{{ case_stats_dict_month.kill_rate }}%</span>
                </div>
                <div>
                    {% if sorted_user_closed_month|length > 0 %}
                        <table class = "user_points_table">
                            <tbody>
                                <tr>
                                    <th>USER</th>
                                    <th>CLOSED</th>
                                </tr>
                                {% for score  in sorted_user_closed_month %}
                                    <tr>
                                        <td>{{ score.0 }}</td>
                                        <td>{{ score.1 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
    </section>

    <input type=checkbox id="show_label_month">
    <label for="show_label_month" class="show_label">SHOW CASES</label>

    <div id = "case_table_month">
        <table class = "scrollable_table">
            <tbody>
                <tr>
                    <th>#</th>
                    <th>Number</th>
                    <th>Group</th>
                    <th>Assigned To</th>
                    <th>Modified By</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Created (UTC)</th>
                    <th>Modified (UTC)</th>
                    <th>Resolved (UTC)</th>
                    <th>Time Spent</th>
                </tr>
                {% for case in full_cases_month %}
                    {% if case.case_no in resolved_cases_month %}
                        <tr id = "resolved_row">
                    {% elif case.case_no in created_cases_month %}
                        <tr id = "created_row">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td>{{ forloop.counter }}</td>
                        <td><a href='{{urls.cases_url}}{{ case.case_url_id }}'>{{ case.case_no }}</a></td>
                        <td>{{ case.assigned_groupname }}</td>
                        <td>{{ case.assigned_username }}</td>
                        <td>{{ case.modified_username }}</td>
                        <td>{{ case.title }}</td>
                        <td>{{ case.casestatus }}</td>
                        <td>{{ case.createdtime }}</td>
                        <td>{{ case.modifiedtime }}</td>
                        <td>{{ case.case_resolved }}</td>
                        <td>{{ case.time_spent_hr }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}