{% extends 'sales/refresh_date_picker.html' %}
{% block form %}
    <button type="submit" id="cases_submit" onclick="save_group_date()">SUBMIT</button>
    </form>
{% endblock %}
    {% block content %}
    <div id = "body_sizing">
        <img src="https://i.imgur.com/lp8JEzh.png" alt="Redmine Logo" id="redmine_logo">       
        <p>All Issues: {{redmine_issues.all_issues_len}}</p>
        <p>Open Issues: {{redmine_issues.open_issues_len}}</p>
        <p>Closed Issues: {{redmine_issues.closed_issues_len}}</p>
        <p>Rejected Issues: {{redmine_issues.rejected_issues_len}}</p>
        <div id="dev_header_all_groups">
            {{ redmine_issues.status_assigned_dict|json_script:"redmine_issues_status_assigned_dict" }}
            <div id ="redmine_status_assigned_total_open_chart_div" class="redmine_chart">
                <canvas id="redmine_status_assigned_total_open_chart"></canvas>
            </div>
            {{ redmine_issues.project_assigned_dict|json_script:"redmine_issues_project_assigned_dict" }}
            <div id ="redmine_project_assigned_total_open_chart_div" class="redmine_chart">
                <canvas id="redmine_project_assigned_total_open_chart"></canvas>
            </div>
            {{ redmine_issues.user_assigned_dict|json_script:"redmine_issues_user_assigned_dict" }}
            <div id ="redmine_user_assigned_total_open_chart_div" class="redmine_chart">
                <canvas id="redmine_user_assigned_total_open_chart"></canvas>
            </div>
            <div id="all_open_cases_box">
                <span class ="score_name">All Open Issues</span> 
                <div id ="score_and_all_groups_open_cases">
                    <span class="score_num">{{redmine_issues.open_issues_len}}</span>
                    <div id = "all_groups_open_issues_div">
                        <table id="all_groups_open_issues_table">
                            {% for user in redmine_issues.user_assigned_dict %}
                                <tr>
                                    <td>{{ user.0 }}</td>
                                    <td>{{ user.1 }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div class="points_header">
            <p><span class="bold">TODAY:</span></p>
            <p> {{ redmine_issues.date.today }}</p>
        </div>

        <section class="points">
                    <div class = "score_box">
                        <span class ="score_name">UPDATED</span> </br> <span class="score_num">{{ redmine_issues.issues_today.updated_issues_len }}</span>
                    </div>
                    <div class = "score_box">
                        <span class ="score_name">CREATED</span> </br> <span class="score_num">{{ redmine_issues.issues_today.open_issues_len }}</span>
                    </div>
                    <div class = "score_box">
                        <span class ="score_name">RESOLVED</span> </br> <span class="score_num">{{ redmine_issues.issues_today.closed_issues_len }}</span>
                    </div>
                    <div class = "score_box">
                        <span class ="score_name">KILL RATE</span> </br> <span class="score_num">{{ redmine_issues.issues_today.kill_rate }}%</span>
                    </div>
                    <div>
                        {% if redmine_issues.issues_today.user_assigned_dict|length > 0 %}
                            <table class = "user_points_table">
                                <tbody>
                                    <tr>
                                        <th>USER</th>
                                        <th>CLOSED</th>
                                    </tr>
                                    {% for user  in redmine_issues.issues_today.user_assigned_dict %}
                                        <tr>
                                            <td>{{ user.0 }}</td>
                                            <td>{{ user.1 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
        </section>

        <hr>
        <div class="points_header">
            <p><span class="bold">WEEK:</span></p>
            <p> {{ redmine_issues.date.first_of_week }} -  {{ redmine_issues.date.end_of_week }}</p>
        </div>

        <section class="points">
                    <div class = "score_box">
                        <span class ="score_name">UPDATED</span> </br> <span class="score_num">{{ redmine_issues.issues_week.updated_issues_len }}</span>
                    </div>
                    <div class = "score_box">
                        <span class ="score_name">CREATED</span> </br> <span class="score_num">{{ redmine_issues.issues_week.open_issues_len }}</span>
                    </div>
                    <div class = "score_box">
                        <span class ="score_name">RESOLVED</span> </br> <span class="score_num">{{ redmine_issues.issues_week.closed_issues_len }}</span>
                    </div>
                    <div class = "score_box">
                        <span class ="score_name">KILL RATE</span> </br> <span class="score_num">{{ redmine_issues.issues_week.kill_rate }}%</span>
                    </div>
                    <div>
                        {% if redmine_issues.issues_week.user_assigned_dict|length > 0 %}
                            <table class = "user_points_table">
                                <tbody>
                                    <tr>
                                        <th>USER</th>
                                        <th>CLOSED</th>
                                    </tr>
                                    {% for user  in redmine_issues.issues_week.user_assigned_dict %}
                                        <tr>
                                            <td>{{ user.0 }}</td>
                                            <td>{{ user.1 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
        </section>

        <hr>
        <div class="points_header">
            <p><span class="bold">MONTH:</span></p>
            <p> {{ redmine_issues.date.first_of_month }} -  {{ redmine_issues.date.end_of_month }}</p>
        </div>

        <section class="points">
                    <div class = "score_box">
                        <span class ="score_name">UPDATED</span> </br> <span class="score_num">{{ redmine_issues.issues_month.updated_issues_len }}</span>
                    </div>
                    <div class = "score_box">
                        <span class ="score_name">CREATED</span> </br> <span class="score_num">{{ redmine_issues.issues_month.open_issues_len }}</span>
                    </div>
                    <div class = "score_box">
                        <span class ="score_name">RESOLVED</span> </br> <span class="score_num">{{ redmine_issues.issues_month.closed_issues_len }}</span>
                    </div>
                    <div class = "score_box">
                        <span class ="score_name">KILL RATE</span> </br> <span class="score_num">{{ redmine_issues.issues_month.kill_rate }}%</span>
                    </div>
                    <div>
                        {% if redmine_issues.issues_month.user_assigned_dict|length > 0 %}
                            <table class = "user_points_table">
                                <tbody>
                                    <tr>
                                        <th>USER</th>
                                        <th>CLOSED</th>
                                    </tr>
                                    {% for user  in redmine_issues.issues_month.user_assigned_dict %}
                                        <tr>
                                            <td>{{ user.0 }}</td>
                                            <td>{{ user.1 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
        </section>


        <h1>Open Redmine Issues</h1>
        {% for issue in redmine_issues.open_issues %}
            <p><a href = '{{url}}/issues/{{issue.issue_id}}'>{{issue.issue_id}}</a> - {{issue.updated_on}} - {{issue.status_name}} - {{issue.subject}} - {{issue.assigned_to_name}}</p>
        {% endfor %}
        <hr>
        <h1>Closed Redmine Issues</h1>
        {% for issue in redmine_issues.closed_issues %}
            <p><a href = '{{url}}/issues/{{issue.issue_id}}'>{{issue.issue_id}}</a> - {{issue.updated_on}} - {{issue.status_name}} - {{issue.subject}} - {{issue.assigned_to_name}}</p>
        {% endfor %}
        <h1>Rejected Redmine Issues</h1>
        {% for issue in redmine_issues.rejected_issues %}
            <p><a href = '{{url}}/issues/{{issue.issue_id}}'>{{issue.issue_id}}</a> - {{issue.updated_on}} - {{issue.status_name}} - {{issue.subject}} - {{issue.assigned_to_name}}</p>
        {% endfor %}
    </div>
    {% endblock %}