{% extends 'sales/refresh_date_picker.html' %}
{% block form %}
    <button type="submit" id="cases_submit" onclick="save_group_date()">SUBMIT</button>
    </form>
{% endblock %}
    {% block content %}
        <h1>
            Welcome to the Docs Page!
        </h1>


        <h2>Docs Today</h2>
        {% for user, doc in docs.docs_today.user_dict.items %}
            <strong>{{ user }} - {{doc.amount}}</strong>
            {% for updated_doc in doc.updated_docs %}
                <a href="{{url}}{{updated_doc.doc_url}}" target="_blank"><p>{{ updated_doc.doc_title }}</p></a> - {{updated_doc.updated_at}}
            {% endfor %}
            <br>
            <br>
        {% endfor %}


        <h2>Docs Week</h2>
        {% for user, doc in docs.docs_week.user_dict.items %}
            <strong>{{ user }} - {{doc.amount}}</strong>
            {% for updated_doc in doc.updated_docs %}
                <a href="{{url}}{{updated_doc.doc_url}}" target="_blank"><p>{{ updated_doc.doc_title }}</p></a> - {{updated_doc.updated_at}}
            {% endfor %}
            <br>
            <br>
        {% endfor %}

        <h2>Docs Month</h2>
        {% for user, doc in docs.docs_month.user_dict.items %}
            <strong>{{ user }} - {{doc.amount}}</strong>
            {% for updated_doc in doc.updated_docs %}
                <a href="{{url}}{{updated_doc.doc_url}}" target="_blank"><p>{{ updated_doc.doc_title }}</p></a> - {{updated_doc.updated_at}}
            {% endfor %}
            <br>
            <br>
        {% endfor %}
    {% endblock %}