{% extends 'sales/refresh_date_picker.html' %}
{% block form %}
    <button type="submit" id="cases_submit" onclick="save_group_date()">SUBMIT</button>
    </form>
{% endblock %}
    {% block content %}
    <div id = "body_sizing">
        <div>
            <a href = "{{url}}/search" target="_blank">
                <img src="https://i.imgur.com/78OKeEo.png" alt="Get Outline Logo" id="outline_logo">
            </a>
        </div>

        <!-- Showing all DOCs and DOC Updates for the selected day -->

        <div class = "points_header">
            <p><span class="bold">DAY:</span>  {{ docs.date.today }}</p>
        </div>
        <div>
            <section class="points">
                {% for user, doc in docs.docs_today.user_dict.user_data.items %}
                    <div class = "score_box_and_table">
                        <div class = "score_box score_box_sales">
                            <span class ="score_name">{{ user }}</span> </br> <span class="score_num">{{ doc.amount }}</span>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>
            
        <div>
            <input type=checkbox id="show_docs_day">
            <label for="show_docs_day" class="show_label">SHOW DOCS</label>

            <div id = "docs_table_day">
                <table class = "scrollable_table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Modified By</th>
                            <th>Modified Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for doc in docs.docs_today.updated_docs %}
                            <tr id = "updated_doc">
                                <td>{{ forloop.counter }}</td>
                                <td><a href='{{url}}{{ doc.doc_url }}' target="_blank">{{ doc.doc_title }}</a></td>
                                <td>{{ doc.updated_by_name }}</td>
                                <td>{{ doc.updated_at }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Showing all DOCs and DOC Updates for the selected week -->

        {% if docs.docs_week %}
            <div class = "points_header">
                <p><span class="bold">WEEK:</span>  {{ docs.date.first_of_week }} - {{ docs.date.end_of_week }}</p>
            </div>
            <div>
                <section class="points">
                    {% for user, doc in docs.docs_week.user_dict.user_data.items %}
                        <div class = "score_box_and_table">
                            <div class = "score_box score_box_sales">
                                <span class ="score_name">{{ user }}</span> </br> <span class="score_num">{{ doc.amount }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            </div>
                
            <div>
                <input type=checkbox id="show_docs_week">
                <label for="show_docs_week" class="show_label">SHOW DOCS</label>

                <div id = "docs_table_week">
                    <table class = "scrollable_table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Modified By</th>
                                <th>Modified Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doc in docs.docs_week.updated_docs %}
                                <tr id = "updated_doc">
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href='{{url}}{{ doc.doc_url }}' target="_blank">{{ doc.doc_title }}</a></td>
                                    <td>{{ doc.updated_by_name }}</td>
                                    <td>{{ doc.updated_at }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}


        <!-- Showing all DOCs and DOC Updates for the selected month -->

        <div class = "points_header">
            <p><span class="bold">MONTH:</span>  {{ docs.date.first_of_month }} - {{ docs.date.end_of_month }}</p>
        </div>
        <div>
            <section class="points">
                {% for user, doc in docs.docs_month.user_dict.user_data.items %}
                    <div class = "score_box_and_table">
                        <div class = "score_box score_box_sales">
                            <span class ="score_name">{{ user }}</span> </br> <span class="score_num">{{ doc.amount }}</span>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>
            
        <div>
            <input type=checkbox id="show_docs_month">
            <label for="show_docs_month" class="show_label">SHOW DOCS</label>

            <div id = "docs_table_month">
                <table class = "scrollable_table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Modified By</th>
                            <th>Modified Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for doc in docs.docs_month.updated_docs %}
                            <tr id = "updated_doc">
                                <td>{{ forloop.counter }}</td>
                                <td><a href='{{url}}{{ doc.doc_url }}' target="_blank">{{ doc.doc_title }}</a></td>
                                <td>{{ doc.updated_by_name }}</td>
                                <td>{{ doc.updated_at }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Charts for the selected month -->
        <div id = "charts" class="docs_charts">
            {{ docs.docs_month.user_dict_json|json_script:"docs_month" }}
            <div id ="user_contribution_chart_div_bar">
                <canvas id="user_contribution_chart_bar"></canvas>
            </div>
            <div id ="user_contribution_chart_div_doughnut">
                <canvas id="user_contribution_chart_doughnut"></canvas>
            </div>
        </div>

     </div>

    {% endblock %}