{% extends 'sales/base.html' %}
{% load socialaccount %}

{% block content %}

<div id = "home_page_header">
    <p id="home_page_header_main">KPI Dashboard</p>
    <p id ="home_page_subheader">Key Performance Indicators, Metrics and Analysis <br><span id = "subheader_sub">Powered by VTiger CRM's API and Django</span><p>
</div>

<div id="login">
  {% if user.is_authenticated and user.is_superuser%}
    <div class="google_login_button">
        <p class="welcome_name">Welcome, {{ user.first_name }} {{user.last_name}}!</p>
        <p class="welcome_name">You're a Super User!</p>
        <a id="logout" href="/accounts/logout">Logout</a>
    </div>
    <div id = "superuser_buttons_meta_container">
        <div class = "superuser_buttons">
            <a class = "super_user_button_a" href="/populatesales">SALES: Opps/Calls Today</a>
            <a class = "super_user_button_a" href="/populateoppssales">SALES: Opps Month</a>
            <a class = "super_user_button_a" href="/populatecallssales">SALES: Calls Month</a>
            <a class = "super_user_button_a" href="/deleteallsales">SALES: Delete all Today</a>
            <a class = "super_user_button_a" href="/testsales">SALES: Test</a>
        </div>
        <div class = "superuser_buttons">
            <a class = "super_user_button_a" href="/populatecases">CASES: Cases Today</a>
            <a class = "super_user_button_a" href="/populateallcases">CASES: All Cases</a>
            <a class = "super_user_button_a" href="/deletecases">CASES: Delete Today</a>
            <a class = "super_user_button_a" href="/testcases">CASES: Test</a>
        </div>
    </div>
  {% elif user.is_authenticated %}
      <div class="google_login_button">
        <p class="welcome_name">Welcome, {{ user.first_name }} {{user.last_name}}!</p>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg">
            <g>
                <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                <path fill="none" d="M0 0h48v48H0z"></path>
			</g>
		</svg>
        <a id="logout" href="/accounts/logout">Logout</a>
    </div>
  {% else %}
    <div class="google_login_button">
    	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg">
            <g>
                <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                <path fill="none" d="M0 0h48v48H0z"></path>
			</g>
		</svg>
        <a href="{% provider_login_url 'google' %}">Login with Google</a>
    </div>
  {% endif %}
</div>


<div id = "home_page_buttons">
    <div class = "button">
        <p>SALES</p>
        <a href = "/sales">
            <img src="static/sales.png" alt="My image">
        </a>
    </div>
    <div class = "button">
        <p>CASES</p>
        <a href = "/cases">
            <img src="static/cases.png" alt="My image">
        </a>
    </div>
</div>

{% endblock %}
