{% extends 'sales/base.html' %}


        {% block refresh_date %}
        <div id = "refresh_date_group">
            <div class = "auto_refresh_box">
                <label id="number_input" for="minutes">Minutes:</label>
                <input type="number" value='5' id="minutes_input" name="minutes" min="1" max="20" onchange="update_refresh_time()">
                <input type="checkbox" id="checkbox_autoupdate" onclick="checkbox_click()" unchecked/>
                <label id="auto_update_label" for="checkbox_autoupdate">Auto Refresh</label>
            </div>
            <div id ="group_date_selector">
                <form id = "date_group_form" method="GET" action=".">
                    <a href="#" class="round_day_switcher" onclick=date_changer('yesterday')><</a>
                    <label for="date_start">Date:</label>
                    <input type="date" name="date_start" id="date_start" min={{date_dict.first_db}} max={{date_dict.last_db}}>
                    <a href="#" class="round_day_switcher" onclick="date_changer('tomorrow')">></a>

                    {% block form %}
                    {% endblock %}

            </div>
        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}