{% extends 'sales/refresh_date_picker.html' %}

{% block form %}
    <button type="submit" id="sales_submit" onclick="save_group_date()">SUBMIT</button>
    </form>
<p id = "selected_sales_date">{{ date_dict.today_date }} </p>
{% endblock %}

{% block content %}
    <div id="help_btn_container" class="help_btn_container">
        <input type=checkbox id="help_button">
        <label for="help_button" class="show_label" id="help_label">POINTS?</label>
        <div id="help_box">
            <div id="help_box_explanation">
                <p><span id="help_title">What do these numbers mean?</span>A Sales person earns a certain number of points for changing the status in an Opportunity and for making Phone Calls. The goal is to get to 100 points in a single day by any means necessary. As an example, a sales person can make 50 calls and give 5 demos, or they could schedule 10 demos, give 2 demos, and make 30 calls. A sales person's points will only be displayed if they made contributions within the past 14 days.</p>
            </div>
            <div class = "score_key">
                <p>Score Key</p>
                <table class="score_key_table">
                    <thead class="score_key_thead">
                        <tr>
                            <th>Demo Scheduled:</th>
                            <th>Demo Given:</th>
                            <th>Quote Sent:</th>
                            <th>Pilot:</th>
                            <th>Needs Analysis:</th>
                            <th>Closed Won:</th>
                            <th>Closed Lost:</th>
                            <th>Phone Calls:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td label='Demo Scheduled' class = "score_key_points">5</td>
                            <td label='Demo Given' class = "score_key_points">10</td>
                            <td label='Quote Sent' class = "score_key_points">0</td>
                            <td label='Pilot' class = "score_key_points">0</td>
                            <td label='Needs Analysis' class = "score_key_points">0</td>
                            <td label='Closed Won' class = "score_key_points">0</td>
                            <td label='Closed Lost' class = "score_key_points">0</td>
                            <td label='Phone Calls' class = "score_key_points">1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <section class="points" id="sales_points">
        {% for user, score in user_total_score.items %}
                <div class = "score_box">
                    <span class ="score_name">{{ user }}</span> </br> <span class="score_num">{{ score }}</span>
                    {% if score == 0 %}
                        {% for user_cont, value in user_last_cont.items %}
                            {% if user_cont == user %}
                                <table id = "all_groups_open_cases_table">
                                    <tr>
                                        <td>Last Phone Call:</td>
                                        <td>{{value.call}}
                                    </tr>
                                    <tr>
                                        <td>Last Opportunity:</td>
                                        <td>{{value.opp}}</td>
                                    </tr>
                                </table>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
        {% endfor %}
    </section>

    <section class="score_tables">
        {% for user, value in user_opp_dict.items %}
            <p class="score_table_title">{{ user }}</p>
                <table class="sales_score_table">
                    <thead class="sales_score_thead">
                        <tr>
                            <th>Demo Scheduled</th>
                            <th>Demo Given</th>
                            <th>Quote Sent</th>
                            <th>Pilot</th>
                            <th>Needs Analysis</th>
                            <th>Closed Won</th>
                            <th>Closed Lost</th>
                            <th>Phone Calls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for item, points in value.items %}
                                <td label='{{ item }}' class = "sales_score_td">
                                    {{ points }}
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>

            <!--Displays individual opp tables per user.
            Commenting out because unsure if I want to go this route
            display wise.
            {% for username, opps in user_opps.items %}
                {% if username == user %}
                        <table class="scrollable_table">
                            <th>Number</th>
                            <th>Name</th>
                            <th>Stage</th>
                            <th>Current Stage Changed</th>
                            <th>Modified Time</th>
                            <th>Created Time</th>
                            {% for opp in opps %}
                                <tr>
                                    <td>{{ opp.opp_no }}</td>
                                    <td>{{ opp.opp_name }}</td>
                                    <td>{{ opp.opp_stage }}</td>
                                    <td>{{ opp.current_stage_entry_time }}</td>
                                    <td>{{ opp.modifiedtime }}</td>
                                    <td>{{ opp.createdtime }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                {% endif %}
            {% endfor %}
            -->
        {% endfor %}
    </section>

    <section id = "opp_call_tables">
        <input type=checkbox id="show_today_opps">
        <label for="show_today_opps" class="show_label">SHOW OPPs</label>

        <input type=checkbox id="show_today_calls">
        <label for="show_today_calls" class="show_label">SHOW CALLs</label>

        <div id = "today_opp_table">
            <table class="scrollable_table">
                <th>#</th>
                <th>Number</th>
                <th>Assigned To</th>
                <th>Modified By</th>
                <th>Name</th>
                <th>Stage</th>
                <th>Current Stage Changed</th>
                <th>Modified Time</th>
                <th>Created Time</th>
                {% for opp in today_opps %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href='{{urls.opps_url}}{{ opp.opp_url_id }}'>{{ opp.opp_no }}</a></td>
                        <td>{{ opp.assigned_username }}</td>
                        <td>{{ opp.modified_username }}</td>
                        <td>{{ opp.opp_name }}</td>
                        <td>{{ opp.opp_stage }}</td>
                        <td>{{ opp.current_stage_entry_time }}</td>
                        <td>{{ opp.modifiedtime }}</td>
                        <td>{{ opp.createdtime }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div id = "today_call_table">
            <table class="scrollable_table">
                <th>#</th>
                <th>User</th>
                <th>Call ID</th>
                <th>Call Time</th>
                <th>End Time</th>
                <th>Status</th>
                <th>Direction</th>
                <th>Duration</th>
                <th>Customer Number</th>
                <th>Recording</th>
                {% for call in today_phone_calls %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ call.assigned_username }}</td>
                        <td><a href='{{urls.calls_url}}{{ call.phonecall_url_id }}'>{{ call.phonecall_url_id }}</a></td>
                        <td>{{ call.modifiedtime }}</td>
                        <td>{{ call.endtime }}</td>
                        <td>{{ call.call_status }}</td>
                        <td>{{ call.direction }}</td>
                        <td>{{ call.total_duration }}</td>
                        <td>{{ call.customer_number }}</td>
                        {% if call.recording_url %}
                            <td><a href='{{call.recording_url}}'>Recording</a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}