{% extends 'sales/base.html' %}
{% load static %}

    {% block content %}
    <script defer type="module" src="{% static 'shippingcalc/js/controller.js' %}"></script>
<body id="ratingAPI">
    {{ products_json|json_script:"products_json" }}
    <main>
        <section id="address__form--section">
            <div class="container">
                <div class="text--div">
                    <h1 class="title--heading white">Welcome</h1>
                        {% if user.is_authenticated %}
                        <h1 class="title--heading white">
                            {{ user.first_name }}
                        </h1>
                        {% else %}
                        <h1 class="title--heading white">
                            User
                        </h1>
                        {% endif %}
                </div>
                <div class="reset--div">
                        <input type="reset" class="form--btn reset--btn hide--section" value="Check Another Rate" onclick="document.location.reload()">
                </div>
                <div class="intro--wrapper hide--section">
                    <div class="btn__slide--div">
                        <div class="cog--div">
                            <i class="fas fa-cog white"></i>
                        </div>
                        <div class="cog--div clickfor--products">
                            <p class="cog--heading product--heading white">Click For Products</p>
                            <p class="cog--heading address--heading white hide--section">Click For Address</p>
                        </div>
                    </div>
                </div>
                <!-- Address Form  -->
                <div class="content--wrapper address--wrapper">
                    <form id="address--form" name="addressForm">
                        <div class="form--div">
                            <div class="form--group">
                                <i class="far fa-address-card address--icon white"></i>
                                <input class="form--input" placeholder="Address" type="text" id="AddressLine" name="AddressLine" value=""></div>
                        </div>
                        <div class="form--div">
                            <div class="form--group">
                                <i class="far fa-building address--icon white"></i>
                                <input class="form--input" placeholder="City" type="text" id="City" name="City" value=""></div>
                        </div>
                        <div class="form--div">
                            <div class="form--group">
                                <i class="fas fa-flag-usa address--icon white"></i>
                                <input class="form--input" placeholder="State ID" type="text" id="StateProvinceCode" name="StateProvinceCode" value="" minlength="2" maxlength="2"></div>
                        </div>
                        <div class="form--div">
                            <div class="form--group">
                                <i class="fas fa-sort-numeric-up-alt address--icon white"></i>
                                <input class="form--input" placeholder="Zip Code" type="number" id="PostalCode" name="PostalCode" value="" min="5"></div>
                        </div>
                        <div class="form__btn--div">
                                <input class="form--btn" type="submit" value="submit">
                        </div>
                    </form>
                </div>
                <!-- Product Selection -->
                <div class="content--wrapper product--wrapper hide--section">
                    <div class="output--div">
                        <div class="product__selection--div">
                            <select name="products" id="product--dropdown" class="product--options form-select" data-show-subtext="true">
                                <option value="*" disabled selected>
                                    Select Products
                                </option>
                                {% for product in products %}
                                {% if product.weight > 0 %}
                                <option data-height="{{ product.height }}" data-width="{{ product.width }}" data-length="{{ product.length }}" data-weight="{{ product.weight }}" class="product-selection" value="{{ product.name }}" data-subtext="{{ product.weight }}"> {{ product.name }} </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form__btn--div">
                        <input class="rates--button" value="Check Rates" type="submit">
                    </div>
                </div>

                <div class="content--wrapper spinning--wheel hide--section">
                    <div class="loader">
                        <!-- Loading Wheel goes here -->
                    </div>
                </div>

                <div class="content--wrapper rates--wrapper hide--section">
                    <div class="rates__output--div">
                        <!-- JS Mark UP Function will create HTML here -->
                    </div>
                </div>

                <div class="btn--div">
                    <input class="form--btn hide--section" type="submit" value="Check Rates">
                </div>
            </div>
        </section>

        <!-- Error & Success Message Banners -->
        <div class="banner--div hide--section">
            <span class="close--btn center" onclick="this.parentElement.style.display='none'">&times;</span>
        </div>
    </main>
    <footer>
        <div class="footer--container">
            <div class="footer--row"></div>
            <div class="footer--row"></div>
            <div class="footer--row"></div>
        </div>
    </footer>
</body>
</html>
{% endblock %}